<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlConn" value="server=localhost;user=root;pwd=MuHua2014-2021;database=muhuatj" />
		<add key="isremeber" value="AI4q5OcmsQoFMBSJZli/Yv5CT4mJG9R/" />
		<add key="Account" value="ZYz+v1CUHW0=" />
		<add key="password" value="S7Ub+IwrDfpD7zF6DTdYdA==" />
		<add key="hardware" value="" />
	</appSettings>
</configuration>